@import "../../_common/styles/sass/style";

.breadcrumb-wraper {
  .breadcrumb {
    background: none;
    padding: 8px 25px;
    margin: 30px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: capitalize;
    a {
      color: $darkblue-color;
    }
  }
}

.edit-profile-link {
  @extend %type-open-sans-14-9-text;
  color: $darkblue-color;
  text-decoration: underline;
  margin: 30px 0;
  padding: 8px 0;
}

.profile-details {
   @extend %type-open-sans-14-1-text;
   color: $primary-text-color;

   .person-name {
   		@extend %type-open-sans-16-6-text;
   		color: $profile-name;
	}

}

.profile-text {
	p {
		@extend %type-open-sans-14-9-text;
		color: $primary-text-color;
    	padding: 20px 0;

		span {
			color: $darkblue-color;
			display: inline-block;
			padding-left: 20px;
		}
	}
}

.profile-interest {
	padding: 10px 0 10px;
	border-bottom: 1px solid $tag-border-color;
  	  .pager, .blue-tag {
	    text-align: left;
	  }
}

.pad-topbot-17 {
  padding: 17px 0;
}

.pad-topbot-20 {
  padding: 20px 0;
}

.pad-bot-20 {
	padding-bottom: 20px;
}

.pad-bot-35 {
	padding-bottom: 35px;
}

.no-padding {
  padding: 0;
}
