@import "../../styles/sass/style";

.wishListPopupContainer{
	text-align: center;
	padding: 20px;
	.modal-dialog{
		width: 70%;
		.modal-content{
			background-color: $white-color !important;
			color: $primary-text-color;
			.modal-header{
				h4{
					color:$black-color;
					@extend %type-open-sans-22-4-text;
					padding-top: 25px;
				}
			}
			.modal-body{
				padding:45px 70px !important;
				.successMessage{
					p{
						color: $createListing-text-color;
						@extend %type-arvo-regular-36-4-text;
					}
				}
				.thumbnail{
			    	background-color: $createListing-item-bgcolor;
			    	padding: 0;
			    	border: 0;
				    img{
				      width: 230px;
					  height: 150px;
				    }
				    .listingContent{
				    	text-align: left;
						p{
							color: $primary-text-color !important;
						}
					    h5.title{
					       @extend %type-open-sans-16-6-text;
					       color: $heading-color !important;
					       white-space: nowrap;
                           overflow: hidden;
                           text-overflow: ellipsis;
					    }
					    p.price{
					       @extend %type-open-sans-10-6-text;
					    }
				    }
				    .wishlistDelete{
			    	    position: absolute;
					    top: -1px;
					    right: 20px;
					    img{
					    	width: 8px;
					    	height: 8px;
					    }		
				    }
			    }
			}
		}
	}
}