<div class="container banner-container">
  <div class="row banner-row">
    <h1>
      Buy, sell or find anything,<br />
      just for Globers!
    </h1>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="bannerwrapper">
          <ul class="nav navbar-nav" (window:resize)="onResize($event)" >
              <li *ngFor="let category of categories;let i = index;"  [class.active]="showSubCategory">
                  <div class="img-icon">
                      <img src="../../../../assets/img/mobile-icon/{{category.Image}}" />
                  </div>
                  <div class="categoryTitle">{{category.ListingCategory}} </div>
                  <span class="spriteimage {{category.ListingCategory}}Icon"></span>
                  <ul class="hoverlistWrapper" *ngIf="showSubCategory">
                      <li *ngFor="let sub of category.SubCategory"><a>{{sub}}</a></li>
                  </ul>
                  <button>EXPLORE</button>
                  <a href="#" class="expandListIcon"><span class="glyphicon glyphicon-chevron-down"></span></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
