<div class="container banner-container">
  <div class="row banner-row">
    <h1>
      Buy, sell or find anything,<br />
      just for Globers!
    </h1>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="bannerwrapper">
          <ul class="nav navbar-nav visible-md visible-lg">
              <li *ngFor="let category of categories;let i = index;"  [class.active]="showSubCategory">
                  <div class="categoryTitle">{{category.ListingCategory}}</div>
                  <span class="spriteimage {{category.ListingCategory}}Icon"></span>
                  <ul class="hoverlistWrapper" *ngIf="showSubCategory">
                      <li *ngFor="let sub of category.SubCategory" (click) = "exploreSubCategory(sub)" ><a>{{sub}}</a></li>
                  </ul>
                  <button>EXPLORE</button>
              </li>
          </ul>
          <accordion class="visible-xs visible-sm">
            <accordion-group #group *ngFor="let category of categories;let i = index;"  [class.active]="showSubCategory">
              <div accordion-heading>
                <div class="img-icon">
                      <img src="../../../../assets/img/mobile-icon/{{category.Image}}" />
                </div>
                <div class="categoryTitle">{{category.ListingCategory}}</div>
                <i class="pull-right float-xs-right glyphicon"
                   [ngClass]="{'glyphicon-chevron-up': group?.isOpen, 'glyphicon-chevron-down': !group?.isOpen}"></i>
              </div>
              <ul class="accordionWrapper" *ngIf="showSubCategory">
                  <li *ngFor="let sub of category.SubCategory"><a>{{sub}}</a></li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </nav>
  </div>
</div>
