<div class="listingNotFoundContainerWrapper">
	<div class="listingNotFoundContainer">
		<div class="row">
			<div class="col-xs-12">
				<img src="../../../../assets/img/iconBubbles.png" class="bubbleImage">
				<p class="firstP">OOPS! {{ 'No results found' | myTranslate }}!</p>
			</div>
		</div>
		<!--<div class="row">
			<div class="dropodownWrapper">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="categoryDropdown">
						<select class="categoryDropdownSelect">
						    <option selected disabled>Category</option>
						    <option>Housing</option>
						    <option>Automotive</option>
						  </select>
						<img src="../../../../assets/img/downArrow.png" />
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="subcategoryDropdown">
						<select class="subcategoryDropdownSelect">
						    <option selected disabled>Subcategory</option>
						    <option>Car</option>
						    <option>Motarcycle</option>
						  </select>
						<img src="../../../../assets/img/downArrow.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="checkboxWrapper">
					<div class="checkboxEmail">
		            	<label>
		            		<input type="checkbox" name="email" checked> email
		            	</label>
		            </div>
		            <div class="checkboxSms">
		            	<label>
		            		<input type="checkbox" name="Sms" checked> Sms
		            	</label>
		            </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="buttonWrapper">
					<button type="button" class="btn btn-default">Subcribe Me</button>
				</div>
			</div>
		</div>-->
	</div>
</div>
