<div class="similarListingContainer">
<div class="similarListings">
  <div class="row">
    <div class="col-sm-12">
        <h3>{{ 'Similar Listing' | myTranslate }}</h3>
    </div>
  </div>
  <div class="row" *ngIf="similarListing">
    <div *ngIf="similarListing.length > 1">
      <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let card of similarListing;let i = index;">
        <div (click)="showProductInfo(card._id)" class="thumbnail">
          <ng-template [ngIf]="i<4">
            <img *ngIf="card.Photos && card.Photos.length>0" src="{{card.Photos[0].Image}}" class="img-responsive" alt="...">
            <img *ngIf="!card.Photos || card.Photos.length<=0" src="../../../../assets/img/similarListing.png" class="img-responsive" />
            <div class="listingContent caption">
              <span class="title"><h5>{{card.Title}}</h5></span>
              <span class="price pull-right">{{card.Price | currency:'INR':true}}</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div  *ngIf="similarListing.length <= 1"><page-not-found></page-not-found></div>
  </div>
  <div  *ngIf="!similarListing"><page-not-found></page-not-found></div>
</div>
</div>
