<div class="similarListings">
  <div class="row">
    <div class="col-xs-12">
      <h3>Similar Listings</h3>
    </div>
  </div>
  <div class="row">
    <div class="listing" *ngFor="let card of similarListing;let i = index;">
      <div class="col-xs-6 col-md-12 col-lg-12 noPadding">
        <template [ngIf]="i<2">
            <img src="../../../../assets/img/similarListing.png" />
            <div class="listingContent">
              <span class="title"><h5>{{card.Title}}</h5></span>
              <span class="price pull-right">{{card.Price}}</span>
            </div>
        </template>
      </div>
    </div>
  </div>
  <!--<div class="listing">
      <img src="../../../../assets/img/similarListing.png" />
      <div class="listingContent">
        <span class="title"><h5>Iphone 7</h5></span>
        <span class="price pull-right">RS 60000</span>
      </div>
  </div>-->
</div>