<div bsModal #childModal="bs-modal" class="modal fade wishListPopupContainer"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
		  	<h4 class="modal-title">My Wishlist</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3" *ngFor = "let wishlist of WishListSelectedData">
              <div class="thumbnail" (click)="showProductInfo(wishlist._id)">
                  <img src="{{wishlist.Photos[0].Image}}" alt="...">
                  <div class="listingContent caption" >
                      <h5 class="title">{{wishlist.Title}}</h5>
                      <p class="price">{{wishlist.Price| currency:'INR':true}}</p>
                  </div>
                  <div class="wishlistDelete"> 
                    <span (click)="deleteWishListData(wishlist)"><img src="../../../../assets/img/closeButton.png"></span>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


