@import "../../_common/styles/sass/style";

.navbar{
  margin-bottom: 0;
  .nav.navbar-nav.filter{
    font-family: 'Open Sans', sans-serif;
    float: right;
    li{
      margin-right:7px;
      a{
        color: $primary-text-color;
        @extend %type-open-sans-12-6-text;
        border-radius:15px;
        padding: 5px 20px;
        border: 2px solid transparent;
      }
      a:hover, a.active{
        border: 2px solid $green-color;
        color: $active-button-text-color;
        background-color: transparent;
        padding: 5px 20px;
      }
      .open>a:hover, .open>a:focus, .open>a.active{
        background-color: transparent;
      }
      .dropdown-menu{
        display:none;
        margin-top:-40px;
        border-radius:15px;
      }
    }
    li:last-child{
      margin-right:0;
    }
  }
}