<div class="container">
    <h2 class="category">All categories</h2>
    <div class="row card-wrapper">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container">
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container wishlist-container">
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container recommend-container">
                <div class="recommendLabel">
                    <span class="icon-flag"></span>
                    <span class="recommend">Recommended</span>
                </div>
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container">
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container">
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container create-container">
                <div class="contentdetail">
                    <h2>People are looking for &lt; product &gt; Doyou have one to se ll?</h2>
                    <button>
                        <span class="icon-flag"></span> Create
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="plain-card-container">
                <div class="img-block">
                    <img src="../../../../assets/img/card/photo1.png" />
                </div>
                <div class="contentdetail">
                    <h3>Play Sation 4</h3>
                    <p>Apple Inc has decided to launch the much awaited Apple Watch in the upcoming </p>
                    <ul>
                        <li><span class="icon-clock"></span> 1 june 2015</li>
                        <li><span class="icon-like-icon"></span>RS 6000</li>
                    </ul>
                </div>
            </div>
        </div>
    <!--</div>-->
</div>
    </div>
