<div class="container-fluid cardList">
  <!--<router-outlet></router-outlet>-->
    <loader [isLoading] = "isLoading"></loader>
    <h2 class="category">All categories</h2>
    <div class="row card-wrapper">
        <div *ngIf="cards.length != 0">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let card of cards; let i=index;" >
                <div class="plain-card-container" (click)="showProductInfo(card._id)">
                    <div class="img-block">
                        <img *ngIf="card.Photos && card.Photos.length>0" src="{{card.Photos[0].Image}}" class="img-responsive" />
                        <img *ngIf="!card.Photos || card.Photos.length<=0" src="../../../../assets/img/similarListing.png" class="img-responsive" />
                    </div>
                    <div class="contentdetail">
                        <h3 title="{{card.Title}}">{{card.Title}}</h3>
                        <p title="{{card.Details}}">{{card.Details}}</p>
                        <ul>
                            <li>
                                <span class="icon-clock" ></span>{{card.SubmittedDate.toString().split('T')[0]}}</li>
                            <li><span class="icon-like-icon" [ngClass]="{'isFaveSelected': card.isInWishList}" (click) = "favorite($event,card._id, i,card)"></span>{{card.Price| currency:'INR':true}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;" *ngIf="cards.length == 0"><page-not-found></page-not-found></div>
    </div>

</div>
