<!-- <div class="container banner-container">
<p style="width:500px;height:500px;background-color: red">
  <h1>Hi welcome to the profile</h1>
</div> -->

  <div class="container-fluid">
    <div class="breadcrumb-wraper">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">my profile</a></li>
        <li class="active">edit info</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="edit-icon"></div>
        <div class="profile-image"></div>
        <div class="profile-insert">
          <h4>Interests</h4>
          <input type="text">

          <ul class="pager">
            <li><a href="#">Car</a></li>
            <li><a href="#">Car</a></li>
            <li><a href="#">Car</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
          <div class="row pad-topbot-17">
            <div class="col-xs-4 col-lg-6">name</div>
            <div class="col-xs-8 col-lg-6">ZSdsadds</div>
          </div>

          <div class="row pad-topbot-17">
            <div class="col-xs-4 col-lg-6">Designation</div>
            <div class="col-xs-8 col-lg-6">Designer</div>
          </div>

          <div class="row pad-topbot-17">
            <div class="col-xs-4 col-lg-6">Email</div>
            <div class="col-xs-8 col-lg-6">jasdn@globant.com</div>
          </div>

          <div class="row pad-topbot-17">
            <div class="col-xs-4 col-lg-6">Mobile</div>
            <div class="col-xs-8 col-lg-6">9890989067</div>
          </div>

        <div class="row pad-topbot-17">
          <div class="col-xs-4 col-lg-6">Location</div>
          <div class="col-xs-8 col-lg-6">Bangalore</div>
        </div>
    </div>

      <div class="col-lg-6">
        <h4>My Subscribtion</h4>


      </div>
    </div>
  </div>
