@import "../../_common/styles/sass/style";


.navbar.searchFilterContainerWrapper{
	position: relative;
	min-height: 77px;
	background-color: $primary-background-color;
	margin-bottom: 0 !important;
	.searchFilterContainer{
		position: absolute;
		width:100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: $filter-background-color;
		text-transform: uppercase;
		padding: 20px 55px;
		box-shadow: 0 0 15px 0 $filter-shadow-color;
	}
  &.fixed{
    top: 76px;
  }
}
/*.popupContainer{
	padding:30px;
	button{
		display: inline-block;
	}
	.modal{
		text-align: center;
		padding: 20px;
		.modal-dialog{
			width: 750px;
			.modal-content{
				background-color: $white-color !important;
				color: $primary-text-color;
				.modal-header{
					h4{
						color:$black-color;
						@extend %type-open-sans-22-4-text;
					}
				}
				.modal-body{
					padding:45px 90px !important;
					.successMessage{
						p{
							color: $createListing-text-color;
							@extend %type-arvo-regular-36-4-text;
						}
					}
					img, .successMessage{
						margin-bottom: 45px;
					}
					p{
						@extend %type-open-sans-14-4-text;
					}
					p.contentP{
						width: 400px;
    					margin: 0 auto;
					}
					button{
						margin-top: 45px;
						padding: 25px 40px;
						border-radius: 30px;
				    	background: $white-color;
				    	border: 3px solid $createListing-complete-default-bgcolor;
				    	text-transform: uppercase;
				    	letter-spacing: 3px;
						@extend %type-open-sans-12-7-text;
						color: $createListing-complete-active-text-color;
					}
				}
			}
		}
	}
}*/
/*footer Css*/
footer{
		.footerContainer{
			background-color: $green-color;
			padding: 45px 55px;
			text-align: center;
			p{
				@extend %type-open-sans-10-4-text;
				color: $white-color;
				margin: 0;
			}
			p:first-child{
				@extend %type-open-sans-12-6-text;
				color: $darkblue-color;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding:27px 0;
			}
			img{
				width: 206px;
				height: 34px;
				margin-bottom: 20px;
			}
			.buttonContainer{
				padding: 2px;
				button{
					padding: 25px 40px;
					border-radius: 30px;
				    background: $subcribeMe-button-bg-color;
				    border: none;
				    @extend %type-open-sans-12-7-text;
				    color: $heading-color;
				    float: right;
				    text-transform: uppercase;
				    letter-spacing: 3px;
				}
			}
		}
}
/*listing not found Html*/
.listingNotFoundContainerWrapper{
	background-color: $error-subcribe-background-color;
	padding: 95px 40px 40px;
	.listingNotFoundContainer{
		background-color: $white-color;
		text-align: center;
		padding-top: 85px;
		padding-bottom: 85px;
		img.bubbleImage, p{
			padding-bottom: 45px;
		}
		p{
			@extend %type-open-sans-18-6-text;
			color: $no-result-subtext-color;
		}
		p.firstP{
			@extend %type-open-sans-12-7-text;
			color: $no-result-text-color;
			text-transform: uppercase;
		}
		.dropodownWrapper, .checkboxWrapper{
			padding-bottom: 30px;
			@extend %type-open-sans-14-4-text;
			color: $primary-text-color;
			div{
				display: inline-block;
			}
		}
		.dropodownWrapper{
			.categoryDropdown, .subcategoryDropdown{
				position: relative !important;
				letter-spacing: 2px;
				width: 30%;
				.categoryDropdownSelect, .subcategoryDropdownSelect{
					width: 100%;
				}
				img{
					position: absolute;
					top: 15px;
					right: 7px;
    				background-color: $createListing-item-bgcolor;
				}
			}
			.categoryDropdown{
				float: right;
			}
			.subcategoryDropdown{
				float: left;
			}
		}
		.checkboxWrapper{
			text-transform: uppercase;
			padding-top: 30px;
			div:first-child{
				padding-right: 30px;
			}
		}
		button{
			padding: 15px 30px;
			border-radius: 30px;
	    	background: $white-color;
	    	border: 3px solid $createListing-complete-default-bgcolor;
	    	text-transform: uppercase;
	    	letter-spacing: 3px;
			@extend %type-open-sans-12-7-text;
			color: $createListing-complete-active-text-color;
		}
	}
}
/*Subscribe Html*/
.subscribeContainerWrapper{
	background-color: $error-subcribe-background-color;
	padding: 95px 40px 40px;
	.subscribeContainer{
		background-color: $white-color;
		text-align: center;
		padding-top: 85px;
		padding-bottom: 85px;
		h1{
			@extend %type-open-sans-34-6-text;
			color: $heading-color;
			margin: 0;
		}
		p{
			@extend %type-open-sans-14-4-text;
			color: $primary-text-color;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		img.bubbleImage, p, h1{
			padding-bottom: 35px;
		}
		.dropodownWrapper, .checkboxWrapper{
			padding-bottom: 30px;
			@extend %type-open-sans-14-4-text;
			color: $primary-text-color;
			div{
				display: inline-block;
			}
		}
		.dropodownWrapper{
			.categoryDropdown, .subcategoryDropdown{
				position: relative !important;
				letter-spacing: 2px;
				width: 20%;
				.categoryDropdownSelect, .subcategoryDropdownSelect{
					width: 80%;
				}
				img{
					position: absolute;
					top: 14px;
					right: 30px;
    				background-color: $createListing-item-bgcolor;
				}
			}
		}
		.checkboxWrapper{
			text-transform: uppercase;
			div:first-child{
				padding-right: 30px;
			}
		}
		button{
			padding: 15px 30px;
			border-radius: 30px;
	    	background: $white-color;
	    	border: 3px solid $createListing-complete-default-bgcolor;
	    	text-transform: uppercase;
	    	letter-spacing: 3px;
			@extend %type-open-sans-12-7-text;
			color: $createListing-complete-active-text-color;
		}
	}
}
@media (min-width: 320px) and (max-width: 460px){
  .searchFilterContainerWrapper{
    display:none;
  }
}