@import "../../styles/sass/style";

.popupContainer{
	text-align: center;
	padding: 20px;
	.modal-dialog{
		width: 750px;
		.modal-content{
			background-color: $white-color !important;
			color: $primary-text-color;
			.modal-header{
				h4{
					color:$black-color;
					@extend %type-open-sans-22-4-text;
				}
			}
			.modal-body{
				padding:45px 90px !important;
				.successMessage{
					p{
						color: $createListing-text-color;
						@extend %type-arvo-regular-36-4-text;
					}
				}
				img, .successMessage{
					margin-bottom: 45px;
				}
				p{
					@extend %type-open-sans-14-4-text;
				}
				p.contentP{
					width: 400px;
					margin: 0 auto;
				}
				button{
					margin-top: 45px;
					@extend %type-open-sans-12-7-text;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max){
	.popupContainer{
		.modal-dialog{
			width: auto;
			.modal-content{
				/*.modal-header{
					h4{
						/*@extend %type-open-sans-14-4-text;
						font-size: $font-size-base;
						font-weight: 400;
					}
				}*/
				.modal-body{
					padding:45px 40px !important;
					.successMessage{
						margin-bottom: 30px;
						p{
							/*@extend %type-arvo-regular-14-4-text;*/
							font-family: $arvo-regular;
							font-size: $font-size-base;
							font-weight: 400;
						}
					}
					p.contentP{
						display: none;
					}
					button{
						margin-top: 0;
					}
				}
			}
		}
	}
}