<div class="productInfoPage clearfix" *ngIf="productInfoData">
  <!-- Breadcrumb Start -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>HOME</a></li>
    <li class="breadcrumb-item"><a>ELECTRONICS</a></li>
    <li class="breadcrumb-item"><a>MOBILE</a></li>
    <li class="breadcrumb-item"><a>IPHONE</a></li>
    <li class="breadcrumb-item active"><span>{{productInfoData.Listing.Title}}</span></li>
  </ol>

  <!-- Breadcrumb End -->
  <div class="col-md-12 product-info-wrapper">
    <!-- Gallery Start -->
    <div class="col-xs-12 col-md-6 mobileViewCarousel">
      <div *ngIf="productInfoData.Listing.Photos.length > 0">
        <carousel>
          <slide *ngFor="let item of productInfoData.Listing.Photos">
            <img src="{{item.Image}}" alt="First slide">
          </slide>
        </carousel>
      </div>
      <div *ngIf="productInfoData.Listing.Photos.length <= 0">
        <h2>No Photo</h2>
      </div>  
    </div>
    <!-- Gallery End -->

    <div class="col-xs-12 col-md-6">
        <div class="clearfix mobileDetails">
        <div class="col-xs-6 col-md-6">
          <h1>{{productInfoData.Listing.Title}}</h1>
          <h6><i>Posted on {{postedDate}}</i></h6>
        </div>
        <div class="col-xs-6 col-md-6">
          <h3 class="pull-right">{{productInfoData.Listing.Price | currency:'INR':true}}
          <h6 *ngIf="productInfoData.Negotiable"><i class="pull-right">Negotiable</i></h6>
            <h6 *ngIf="!productInfoData.Negotiable"><i class="pull-right">Non-Negotiable</i></h6>
          </h3>

        </div>
      </div>
      <div class="clearfix product-des-head">
        <div class="col-xs-6 col-md-6 description clearfix no-padding-left"><h6>DESCRIPTION</h6></div>
        <div class="col-xs-6 col-md-6 clearfix text-right wishlistText no-padding-right">
          <a (click)="updateWishList()">
            <span  [class.isFaveSelected]="isInWhishList" class="icon-like-icon wishlist"></span>
            <span class="textwishlist hidden-xs">ADD TO FAVOURITES</span>
          </a>
        </div>
      </div>
      <div class="typeBrandDetails-wrapper">
      <div class="col-xs-12 col-md-12 clearfix">
        <h5 class="textCustom">{{productInfoData.Listing.Details}}</h5>
      </div>

      <div class="clearfix col-xs-12 col-md-6 typeBrandDetails" *ngFor ='let field of subcategoryData '>
        <p><span>{{field.FieldName}}:</span>{{field.FieldValue}}</p>
      </div>
      </div>
      <div class="col-xs-12 col-md-12 clearfix userDetailsSpacing no-padding-left">
        <div class="col-xs-12 col-md-6">
          <span class="userProfilePic pull-left"><a href="#"><img src="{{productInfoData.Photo}}" class="img-circle"></a></span>
          <span class="orangeIconSpacing pull-left"><img src="/assets/img/orange-icon.png"></span>
          <div class="designerName pull-left"><p>{{productInfoData.UserName}},</p> <p class="designation-name">{{productInfoData.Designation}}</p></div>
        </div>
        <div class="col-xs-12 col-md-6 no-padding-right">
          <button type="button"
                  class="green-button pull-right" *ngIf = "!isClicked" (click)="showContact()">CONTACT</button>
          <div class="contact-number profile-details" *ngIf = "isClicked">          
           <div class="pad-bot-20"><i class="fa fa-phone"></i>{{productInfoData.ContactNo}}</div>
           <div><i class="fa fa-envelope"></i>{{productInfoData.Email}}</div>
          
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12 ">
      <similar-listing [type]='type' (similarListingLoaded)="showSimilarListing()"></similar-listing>
</div>
</div>

