<div class="productInfoPage clearfix" *ngIf="productInfoData">
  <!-- Breadcrumb Start -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item"><a href="#">ELECTRONICS</a></li>
    <li class="breadcrumb-item"><a href="#">MOBILE</a></li>
    <li class="breadcrumb-item"><a href="#">IPHONE</a></li>
    <li class="breadcrumb-item active"><span>IPHONE 7</span></li>
  </ol>

  <!-- Breadcrumb End -->
  <div class="col-md-12">
    <div class="col-xs-12 col-md-6 mobileViewCarousel">
     <!-- <div class="largeViewSpacing"><img src="/assets/img/large-mobile-img.png" class="largeView"></div>
      <div class="clearfix">
        <div class="smallViewsArrow">
          <a href="#"><img src="/assets/img/arrow-left-circle.png"></a>
        </div>
        <div class="smallViews">
          <a href="#"><img src="/assets/img/small-mobile-img1.png"></a>
        </div>
        <div class="smallViews">
          <a href="#"><img src="/assets/img/small-mobile-img2.png"></a>
        </div>
        <div class="smallViews">
          <a href="#"><img src="/assets/img/small-mobile-img3.png"></a>
        </div>
        <div class="smallViewsArrow">
          <a href="#"><img src="/assets/img/arrow-right-circle.png"></a>
        </div>
      </div>-->
      <img src="/assets/img/gallery.jpg">

    </div>

    <div class="col-xs-12 col-md-5">
        <div class="clearfix mobileDetails">
        <div class="col-xs-6 col-md-6">
          <h1>{{productInfoData.Title}}</h1>
          <h6><i>Posted on {{productInfoData.SubmittedDate}}</i></h6>
        </div>
        <div class="col-xs-6 col-md-6">
          <h3 class="pull-right">{{productInfoData.Price}}
          <p *ngIf="productInfoData.Negotiable"><i class="pull-right">Negotiable</i></p>
          </h3>

        </div>
      </div>
      <div class="clearfix product-des-head">
        <div class="col-xs-6 col-md-6 description clearfix no-padding-left"><h6>DESCRIPTION</h6></div>
        <div class="col-xs-6 col-md-6 clearfix text-right wishlistText no-padding-right">
          <a href="#">
            <span class="icon-like-icon wishlist"></span>
            <span class="textwishlist">ADD TO WISHLIST</span>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 clearfix">
        <h5 class="textCustom">{{productInfoData.Details}}</h5>
      </div>
      <div class="clearfix typeBrandDetails">
        <div class="col-xs-6 col-md-6"><p><span>TYPE:</span> Psdjdjfjgjgkfjfb</p></div>
        <div class="col-xs-6 col-md-6"><p><span>BRAND:</span> Psdjdjfjgjgkfjfb</p></div>
      </div>
      <div class="clearfix typeBrandDetails">
        <div class="col-xs-6 col-md-6"><p><span>TYPE:</span> Psdjdjfjgjgkfjfb</p></div>
        <div class="col-xs-6 col-md-6"><p><span>BRAND:</span> Psdjdjfjgjgkfjfb</p></div>
      </div>
      <div class="col-xs-12 col-md-12 clearfix userDetailsSpacing no-padding-left">
        <div class="col-xs-12 col-md-8">
          <span><a href="#"><img src="/assets/img/userProfilePic.png" class="img-circle"></a></span>
          <span class="orangeIconSpacing"><img src="/assets/img/orange-icon.png"></span>
          <span class="designerName"><span>{{productInfoData.ContactName}},</span> <i>Designer</i></span>
        </div>
        <div class="col-xs-12 col-md-4 no-padding-right">
          <button type="button" class="btn btn-primary btn-round-lg btn-lg contactButton">CONTACT</button>
          <div class="hidden">+91 9890 555 555</div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12 similarListings">
    <h3>Similar Listings</h3>
    <div class="clearfix similarListingsBottomSpacing">
      <div class="listing smallArrow">
        <a href="#"><img src="/assets/img/arrow-left-circle.png"></a>
      </div>
      <div class="listing">
        <img src="../../../../assets/img/similarListing.png">
        <div class="listingContent">
          <span class="title"><h5></h5></span>
          <span class="price pull-right">RS 60000</span>
        </div>
      </div>
      <div class="listing">
        <img src="../../../../assets/img/similarListing.png">
        <div class="listingContent">
          <span class="title"><h5>Iphone 7</h5></span>
          <span class="price pull-right">RS 60000</span>
        </div>
      </div>
      <div class="listing">
        <img src="../../../../assets/img/similarListing.png">
        <div class="listingContent">
          <span class="title"><h5>Iphone 7</h5></span>
          <span class="price pull-right">RS 60000</span>
        </div>
      </div>
      <div class="listing">
        <img src="../../../../assets/img/similarListing.png">
        <div class="listingContent">
          <span class="title"><h5>Iphone 7</h5></span>
          <span class="price pull-right">RS 60000</span>
        </div>
      </div>
      <div class="listing smallArrow">
        <a href="#"><img src="/assets/img/arrow-right-circle.png"></a>
      </div>
    </div>
  </div>
</div>
