<div class="productInfoPage clearfix" *ngIf="productInfoData">
  <!-- Breadcrumb Start -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>HOME</a></li>
    <li class="breadcrumb-item"><a>ELECTRONICS</a></li>
    <li class="breadcrumb-item"><a>MOBILE</a></li>
    <li class="breadcrumb-item"><a>IPHONE</a></li>
    <li class="breadcrumb-item active"><span>{{productInfoData.Listing.Title}}</span></li>
  </ol>

  <!-- Breadcrumb End -->
  <div class="col-md-12">
    <!-- Gallery Start -->
    <div class="col-xs-12 col-md-6 mobileViewCarousel">
      <carousel>
        <slide>
          <img src="../../../../assets/img/large-mobile-img.png" alt="First slide">
        </slide>
        <slide>
          <img src="../../../../assets/img/small-mobile-img2.png" alt="Second slide">
        </slide>
        <slide>
          <img src="../../../../assets/img/small-mobile-img3.png" alt="Third slide">
        </slide>
      </carousel>
    </div>
    <!-- Gallery End -->
    
    <div class="col-xs-12 col-md-5">
        <div class="clearfix mobileDetails">
        <div class="col-xs-6 col-md-6">
          <h1>{{productInfoData.Listing.Title}}</h1>
          <h6><i>Posted on {{postedDate}}</i></h6>
        </div>
        <div class="col-xs-6 col-md-6">
          <h3 class="pull-right">{{productInfoData.Listing.Price}}
          <p *ngIf="productInfoData.Negotiable"><i class="pull-right">Negotiable</i></p>
          </h3>

        </div>
      </div>
      <div class="clearfix product-des-head">
        <div class="col-xs-6 col-md-6 description clearfix no-padding-left"><h6>DESCRIPTION</h6></div>
        <div class="col-xs-6 col-md-6 clearfix text-right wishlistText no-padding-right">
          <a href="#">
            <span class="icon-like-icon wishlist"></span>
            <span class="textwishlist">ADD TO WISHLIST</span>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 clearfix">
        <h5 class="textCustom">{{productInfoData.Listing.Details}}</h5>
      </div>
      <div class="clearfix col-xs-6 col-md-6 typeBrandDetails" *ngFor ='let field of subcategoryData '>
        <p><span>{{field.FieldName}}:</span>{{field.FieldValue}}</p>
      </div>
      <div class="col-xs-12 col-md-12 clearfix userDetailsSpacing no-padding-left">
        <div class="col-xs-12 col-md-8">
          <span><a href="#"><img src="/assets/img/userProfilePic.png" class="img-circle"></a></span>
          <span class="orangeIconSpacing"><img src="/assets/img/orange-icon.png"></span>
          <span class="designerName"><span>{{productInfoData.UserName}},</span> <i>{{productInfoData.Designation}}</i></span>
        </div>
        <div class="col-xs-12 col-md-4 no-padding-right">
          <button type="button"
                  class="btn btn-primary btn-round-lg btn-lg contactButton" (click)="isClicked === !isClicked">CONTACT</button>
          <div class="contact-number" [hidden]="!isClicked">{{productInfoData.Contact}}</div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12 ">
      <similar-listing [type]='type' (similarListingLoaded)="showSimilarListing()"></similar-listing>
</div>
</div>
