@import "../../styles/sass/style";

    .popup-loader {
        background: url('../../../../assets/img/spinner.gif') center center no-repeat;
        height: 25px;
        width: auto;
        min-width: 25px;
      
    }
