@import "../../_common/styles/sass/style";

.productInfoPage {

  .breadcrumb {
    margin-top: 70px;
    background-color: $white-color;
    color: $darkblue-color;
    font: 0.857em 'Open Sans', sans-serif;
    padding: 20px 45px;
  }

  .breadcrumb li a , .breadcrumb>li+li:before , .breadcrumb>.active {
    color: $darkblue-color;
    text-transform :capitalize;
  }

  .breadcrumb .active span {
    text-decoration: underline;
  }

  .product-info-wrapper {
    margin-bottom: 25px;
  }

  .carousel-inner {
    background: #f6f7f9;

    img {
      width: 100%;
    }
  }

  .carousel.slide{
      .carousel-control .icon-next:before {
           //Reset the icon
           content: " ";
           //Give layout
           display:block;
           //Your image as background
           background:url("../../../assets/img/arrow-right-circle.png") no-repeat !important;
           //To show full image set the dimensions
           width:41px;
           height:40px;
      }

      .carousel-control.left, .carousel-control.right {
        background-image: none;
      }

      .carousel-control .icon-prev:before {
           //Reset the icon
           content: " ";
           //Give layout
           display:block;
           //Your image as background
           background:url("../../../assets/img/arrow-left-circle.png") no-repeat !important;
          //To show full image set the dimensions
           width:41px;
           height:40px;
      }
      .carousel-indicators{
        li.active{
          background-color: $green-color !important;
        }
        li{
          border: 1px solid $green-color !important;
        }
      }
    }

  .userProfilePic{
   img{
     width:50px;
     height:50px;
   }
 }

  .description h6 {
    font-weight: bold;
    letter-spacing: 2px;
  }

  .product-des-head {
    border-bottom: 3px solid #eee;
    padding-bottom: 2px;
    margin: 0 15px 15px;
  }

  //h1 , .description {
  //color: $createListing-complete-active-text-color;
  //}

  h3 {
    color: #202020;
    padding-top: 12px;
    p{
      @extend %type-open-sans-12-1-text;
      margin-top: 7px;
    }
  }

  i , .typeBrandDetails , h5.textCustom {
    color: $primary-text-color;
  }

  .typeBrandDetails-wrapper {
      max-height: 300px;
      overflow-y: auto;
  }

  .typeBrandDetails {
    font-size: 0.8em;
    padding-top: 15px;
    span {
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .textCustom {
    line-height: 25px;
    padding-bottom: 10px;
  }

  .mobileDetails {
    margin-bottom: 30px;
  }

  /*.mobileViewCarousel {
    carousel{
      margin:20px;
      slide{
        img{
          width: 570px;
          height: 559px;
        }
      }
    }
  }*/

  .orangeIconSpacing {
    margin: 0 10px;
  }

  .designerName {
    
    p {
      letter-spacing: 2px;
      @extend %type-open-sans-12-9-text;
    }
    p.designation {
      @extend %type-open-sans-10-6-text;
    }
  }

  .contactButton {
    border-radius: 22.5px; background-color: $green-color; font-weight: bold; font-size: 12px; border: none; outline: 0; font-family: 'Open Sans'; letter-spacing: 2px; padding: 15px 30px;
  }

  .contactButton.btn-primary:hover {
    background-color: $green-color; outline: 0;
  }

  .wishlistText {
    margin: 10px 0 0 0;
    padding-bottom: 18px;
    span.wishlist {
      color: $primary-text-color; margin-right: 10px;
    }

    span.textwishlist {
      font-size: 12px; font-weight: bold; color: $primary-text-color;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .userDetailsSpacing {
    margin-top: 50px;
  }
}

@media (max-width: $screen-xs-max) {

  .productInfoPage {

  .breadcrumb {
    padding: 20px 30px;
  }

  .userDetailsSpacing {
      margin-top: 20px;

      .designerName {
        .designation-name {
            display: block;
            padding-left: 34%;
          }
      }
    }
  }

 }
