@import "../../_common/styles/sass/style";

.productInfoPage {
  .breadcrumb {
    background-color: $white-color;
    color: $darkblue-color;
    font: 0.857em 'Open Sans', sans-serif;
    padding: 20px 45px;
  }

  .breadcrumb li a , .breadcrumb>li+li:before , .breadcrumb>.active {
    color: $darkblue-color;
    text-transform :capitalize;
  }

  .breadcrumb .active span {
    text-decoration: underline;
  }

  .img-circle {
    border-radius: 50%;
  }

  .description h6 {
    font-weight: bold;    
    letter-spacing: 2px;
  }

  .product-des-head {
    border-bottom: 3px solid #eee;
    padding-bottom: 2px;
    margin: 0 15px 15px;
  }

  //h1 , .description {
  //color: $createListing-complete-active-text-color;
  //}

  h3 {
    color: #202020;
    padding-top: 12px;
    p{
      @extend %type-open-sans-12-1-text;
      margin-top: 7px;
    }
  }

  i , .typeBrandDetails , h5.textCustom {
    color: $primary-text-color;
  }

  .typeBrandDetails {
    font-size: 0.8em;
    padding-top: 15px;
    span {
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .textCustom {
    line-height: 25px;
    padding-bottom: 10px;
  }

  .mobileDetails {
    margin-bottom: 30px;
  }

  .mobileViewCarousel {
    carousel{
      margin:20px;
      slide{
        img{
          width: 570px;
          height: 559px;
        }
      }
    }
  }

  .orangeIconSpacing {
    margin: 0 10px;
  }

  .designerName {
    font-size: 12px;
    span {
      letter-spacing: 2px; font-family: 'Open Sans'; font-weight: bold;
    }
  }

  .contactButton {
    border-radius: 22.5px; background-color: $green-color; font-weight: bold; font-size: 12px; border: none; outline: 0; font-family: 'Open Sans'; letter-spacing: 2px; padding: 15px 30px;
  }

  .contactButton.btn-primary:hover {
    background-color: $green-color; outline: 0;
  }

  .wishlistText {
    margin: 10px 0 0 0;
    padding-bottom: 18px;
    span.wishlist {
      color: $red-color; margin-right: 10px;
    }

    span.textwishlist {
      font-size: 12px; font-weight: bold; color: $primary-text-color;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .userDetailsSpacing {
    margin-top: 88px;
  }
}
