@import "../../styles/sass/style";

.similarListingContainer{
  padding:0 125px 20px;
  /*background-color: $createListing-item-bgcolor;*/
  position: relative;

   .similarListings{
   		text-align: center;
   		h3{
   			@extend %type-open-sans-22-4-text;
   			float: left;
   			margin: 30px 0 20px 0;
   		} 
	    .thumbnail{
	    	background-color: $createListing-item-bgcolor;
	    	padding: 0;
	    	border: 0;
	    	overflow-y: hidden;
		    img{
		      width: 100%;
		    }
		    .listingContent{
		    	text-align: left;
			    span{
			       display: inline-block;
			       color: $primary-text-color !important;
			       padding: 5px;
			    }
			    span.title{
			       @extend %type-open-sans-16-6-text;
			       color: $heading-color !important;
			       h5{
			       		margin: 0;
			       	}
			    }
			    span.price{
			       @extend %type-open-sans-10-6-text;
			    }
		    }
	    }
   }
}

.similarListingContainerWithArrow {
	padding:20px 35px;
}

.galleryArrow {
	height: 40px;
	width: 70px !important;
	padding-top: 170px;
	cursor: pointer;
}

.mylisting-edit-icon {
	position: absolute;
    right: 0;
    top: 20px;
}

@media (min-width: 320px) and (max-width: 460px){
	.similarListingContainer{
		padding: 20px 15px;
	    .similarListings{
	    	h3{
	    		/*@extend %type-open-sans-14-4-text;*/
		        font-size: $font-size-16;
		        font-weight: 400;
	    	}
		    .thumbnail{
		      	.listingContent{
			        text-align: left;
				    span.title{
				        width: 140px;
				        /*@extend %type-open-sans-14-6-text;*/
				        font-size: $font-size-base;
				        font-weight: 600;
				        h5{
				         margin: 0;
				        }
			       	}
			       	span.price{
				        margin: 0;
				        /*@extend %type-open-sans-10-4-text;*/
				        font-size: $font-size-10;
				        font-weight: 400;
				        float: none !important;
				        display: block;
				        padding-top: 0;
			       	}
		      	}
		    }
	    }
   	}
}