
<header [ngClass]="{'fixed-navbar':navIsFixed}"></header>
<banner [categories]='bannerData'></banner>
<nav class="navbar searchFilterContainerWrapper" id="cheader1" [ngClass]="{'fixed':navIsFixed}">
   <div class="searchFilterContainer">
        <search (searchCategory)="showOutput($event)"
                (getSelectedFilter)="getSelectedFilter($event)"></search>
        <filter [selectedFilter]="selectedFilter"
                (filterCategory)="showOutput($event)"
                (getInitialCards) = "getInitialCards($event)"></filter>
   </div>
</nav>
<card-list [cards]='initialCardData'></card-list>
