@import "../../_common/styles/sass/style";

.createCardContainer{ 
  .container{

    form{
     padding: 0px 50px;
     .buttonRow{
      margin-top: 50px;
     }
     .form-group{
      .capitalText{
       text-transform: capitalize;
      }
      .uppercaseText{
       text-transform: uppercase !important;
      }
      .noPadding{
       padding: 0 !important;
       #image-upload{
        display:none;
       }
      }
      .marginBottom{
       margin-bottom: 15px;
      }
      .img-icon{
       padding: 20px 10px;
       margin: 10px;
       width: 115px;
       height: 115px;
       background-color: $createListing-item-bgcolor;
       text-align: center;
       display: inline-block;
       border: 2px solid $createListing-item-border-color;
       img{
        width: 111px;
        height: 111px;
       }
       .mobileImage{
        display: none;
       }
      }
      .selectedCategory{
        border:1px solid $createListing-selected-item-border-color;
      }
      #sub-category{
       @extend %type-open-sans-12-6-text;
      }
      .fullWidth{
       width: 100%;
      }
      button{
       padding: 15px 45px;
       border-radius: 30px;
          background: transparent;
          border: 2px solid $createListing-item-border-color;
          @extend %type-open-sans-14-6-text;
      }
      .publishButton{
          background-color: $green-color;
          color: $white-color;
          @extend %type-open-sans-12-6-text;
          letter-spacing: 4px;
          float: right;
         }
         .tempSavebutton{
          color: $createListing-save-close-text-color;
         }
      label{
       color: $darkblue-color;
       font-size: 0.999em;
      }
      #typeListing{
       label{
        @extend %type-open-sans-14-6-text;
       }
      }
      .checkbox{
       label{
        color: $primary-text-color;
       }
      }
      .downArrow{
          position: absolute;
          top: 14px;
          right: 21px;
          background-color: #fafafa;
          width: 5%
      }
     }
    }
  }
}
@media (min-width: 320px) and (max-width: 460px){
  .createCardContainer{
    .container{ 
     form{
      padding: 20px;
      .form-group{
       .img-icon{
        .spriteimage{
         display: none;
        }
        .mobileImage{
         display: block;
        }
        width: 65px;
        height: 65px;
        img{
         width: 55px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 15px;
        }
       }
       .publishButton{
        float: none;
       }
       #sub-category{
        .radio-inline{
         display: block;
         margin: 10px;
        }
       }
       .downArrow{
        right:20px;
        width:4%;
       }
       button{
        width: 100%;
       }
      }
     }
    }
  }
}