<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserProfilesDBName" value="UserProfiles" />
    <add key="UserTokensCollection" value="UserTokens" />
    <add key="Logging" value="Logging" />
  </appSettings>
    <connectionStrings>
    <add name="UserProfilesConnectionString" connectionString="mongodb://localhost" />
    <add name="LoggingDBConnectionString" connectionString="mongodb://localhost" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>