<div bsModal #childModal="bs-modal" class="modal fade popupContainer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h4 class="modal-title pull-left">Child modal</h4>-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
					<!--first popup-->
				<div class="first" *ngIf = "showPopupDivMessage === 'listing' " >
						<img src="../../../../assets/img/success.png">
								<div class="successMessage">
										<p class="firstP">Congratulations!</p>
										<p>Your listing has been accepted!</p>
								</div>
						<p class="contentP">wdjkcndk;fnv;kdfv; dflv df vf vldfklvfk’lv lkfv df v’lf vlefvlf vl fvl eflv mflv mefv mf vlmf vlfq vlf v fvl flv flv lefv lf vlmef vf vlf v v lv efvmkerbhefnkl,qaf jm,. m, hbjn</p>
						<button type="button" class="btn btn-default" data-dismiss="modal" (click)="viewListingRedirect()">View Listing</button>
				</div>
					<!--second popup-->
				<div class="second" *ngIf = "showPopupDivMessage === 'profile' " >
					<div class="successMessage">
				        <p class="firstP">Congratulations!</p>
						<p>Your profile has been updated!</p>
					</div>
					<p class="contentP">wdjkcndk;fnv;kdfv; dflv df vf vldfklvfk’lv lkfv df v’lf vlefvlf vl fvl eflv mflv mefv mf vlmf vlfq vlf v fvl flv flv lefv lf vlmef vf vlf v v lv efvmkerbhefnkl,qaf jm,. m, hbjn</p>
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				<!--third popup-->
				<div class="third" *ngIf = "showPopupDivMessage === 'subscription' " >
					<div class="successMessage">
				        <p class="firstP">Congratulations!</p>
						<p>Your subscription has been added!</p>
					</div>
					<p class="contentP">wdjkcndk;fnv;kdfv; dflv df vf vldfklvfk’lv lkfv df v’lf vlefvlf vl fvl eflv mflv mefv mf vlmf vlfq vlf v fvl flv flv lefv lf vlmef vf vlf v v lv efvmkerbhefnkl,qaf jm,. m, hbjn</p>
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
    </div>
  </div>
</div>