<div class="selectInterest">
  <div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" *ngIf="selectInterestPopUpFlag">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h4 class="modal-title text-center">Hello there!<br class="shidden-sm hidden-md hidden-lg" /> Would you like to select your interest?</h4>
            <div class="tagInput"><input type="text" id="addTag" #interest (keyup)="fetchInterest($event,interest.value);" placeholder="Add tag"></div>
            <div class="autoSuggestion" *ngIf="enabledDropdown">
              <ul>
                <li (click)="selectInterest(res)" *ngFor="let res of interestResult">
                  {{ res }}
                </li>
              </ul>
            </div>
            <div class="selectedTags">
              <ul class="pager">
                <li>
                  <a *ngFor="let res of obj.selectedInterests;let i=index;">
                    {{res}}
                <span class="glyphicon glyphicon-remove" (click)="deleteIntrest(i, res)"></span>
                </a>
                </li>
              </ul>
            </div>
            <div class="prefLocation">
              <label>Preffered location </label>
              <label><input type="checkbox" #cb1 [disabled]="disabledCheckbox" value="Pune"  (change)="selectCheckbox(cb1)"> Pune</label>
              <label><input type="checkbox" #cb2 [disabled]="disabledCheckbox" value="Banglore"  (change)="selectCheckbox(cb2)"> Banglore</label>
              <label><input type="checkbox" #cb3  value="All"  (change)="selectCheckbox(cb3)"> All Locations</label>
            </div>
            <div class="btn-container">
              <a class="skip-text" (click)="skipInterest()">Skip for now</a>
              <button type="submit" class="btn btn-default pull-right done-btn" 
                      [disabled]="obj.selectedInterests.length === 0 && obj.preferedLoc.length === 0" (click) = "PostData(obj)">DONE</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>