<div class="search-button">
    <div *ngIf = "isLoading" class = "popup-loader"></div>
    <input type="text" placeholder="search" #box 
           (keyup) = "onKeyUp($event,box.value)" 
           [(ngModel)]="searchCategoryByStr">
    <button class="icon-search-icon" (click)="searchCategoryByString(searchCategoryByStr)"></button>
    <div class="autoSuggestion" *ngIf = "enabledDropdown">
        <ul>
            <li (click)="selectOption(res)" *ngFor="let res of searchResult">
                {{ res }}
            </li>
        </ul>
    </div>
</div>

    
   