<div class="search-button">
    <div *ngIf = "isLoading" class = "popup-loader"></div>
    <input type="text" placeholder="{{ 'search' | myTranslate }}" #box  
           [(ngModel)]="searchCategoryByStr">
    <button class="icon-search-icon" (click)="searchCategoryByString(searchCategoryByStr)"></button>
    <div class="autoSuggestion" *ngIf = "enabledDropdown">
        <ul>
            <li (click)="selectOption(res)" *ngFor="let res of searchResult">
                {{ res }}
            </li>
        </ul>
    </div>
</div>
