$white-color: #ffffff;
$darkblue-color: #495574;
$green-color: #c1d72f;
$black-color: #000000;
$primary-background-color: #f2f3f5; //navCardbg
$primary-text-color: #9fa3a7; //card text
$primary-button-text-color: #525252;
$primary-button-border-color: #d8d8d8;
$active-button-border-color: #c1d731;
$active-button-text-color: #242424;
$light-grey-border: #f4f4f4;
$light-grey-button-border: #d8d8d8;
$heading-color:#212121;
$red-color:#f9593a;
$filter-shadow-color: #e3e3e4;
$filter-background-color: #f7f8f9;
$google-signin-button-color:#DF4A32;
$collapsed-button-background-color:#333;
$mobile-hamburger-devider: #f5f5f5;
$mobile-hamburger-border-color: #a8a8a8;
$createListing-text-color:#2c2c2c;
$createListing-item-bgcolor: #fafafa;
$createListing-item-border-color: #efeff6;
$createListing-selected-item-border-color: #69738d;
$createListing-complete-active-text-color: #292929;
$createListing-complete-active-bgcolor: #8f75be;
$createListing-complete-default-bgcolor: #ffc80a;
$createListing-save-close-text-color: #4e4e4e;
$profile-name: #000000;
$subcribeMe-button-bg-color:#ebebeb;
$error-subcribe-background-color: #eeeeee;
$no-result-text-color: #757575;
$no-result-subtext-color: #6c6c6c;
$tag-border-color: #cccccc;
$tag-grey-border: #e1e1e1;
$accordion-border-color: #edeeef;

//typography
$arvo-italic: 'ArvoItalic';
$arvo-bold:'ArvoBold';
$arvo-bold-italic:'ArvoBoldItalic';
$arvo-regular:'ArvoRegular';
$open-sans: 'Open Sans';

//font-weights
$font-weight-100:                100;  // 100
$font-weight-300:                300;  // 300
$font-weight-400:                400;  // 400
$font-weight-500:                500; // 500
$font-weight-600:                600; // 600
$font-weight-700:                700; // 700
$font-weight-900:                900; // 900

$font-size-base: 14px;
$font-size-38: 2.7142em;   //38px
$font-size-36: 2.571em;    // 36px
$font-size-34: 2.4285em;    //34px
$font-size-32: 2.285em;       // 32px
$font-size-30: 2.142em;   // 30px
$font-size-28: 2em;    // 28px
$font-size-24: 1.714em;    // 24px
$font-size-22: 1.571em;  // 22px
$font-size-21: 1.5em;   // 21px
$font-size-20: 1.428em;   // 20px
$font-size-18: 1.285em;  // 18px
$font-size-16: 1.142em;     // 16px
$font-size-15: 1.0714em;  // 15px
$font-size-14: $font-size-base;   // 14px
$font-size-13: 0.9285em;   // 13px
$font-size-12: 0.8571em;   // 12px
$font-size-11: 0.7857em; // 11px
$font-size-10: 0.7142em; // 10px
$font-size-9: 0.6428em;  //9px
$font-size-8: 0.7145em; // 8px


// Cards
$line-height: 1.4;
$lines-to-show1: 1;
$lines-to-show2: 2;
$lines-to-show3: 3;

/* Media queries breakpoints */


$screen-xxs-min: 320px;  /* Extra, extra small screen  phone */
$screen-xs-min: 480px;  /* Extra small screen  phone */
$screen-sm-min: 768px;  /* Small screen  tablet */
$screen-md-min: 992px;  /* Medium screen  desktop */
$screen-lg-min: 1200px; /* Large screen  wide desktop */
$screen-xlg-min: 1440px; /* Large screen  wide desktop */

/* Extra small screen / phone
/* Deprecated `$screen-xs` as of v3.0.1*/
$screen-xs:                  480px !default;
/*  Deprecated `$screen-xs-min` as of v3.2.0*/
$screen-xs-min:              $screen-xs !default;
/*  Deprecated `$screen-phone` as of v3.0.1*/
$screen-phone:               $screen-xs-min !default;

/*  Small screen / tablet
/* Deprecated `$screen-sm` as of v3.0.1*/
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
/* Deprecated `$screen-tablet` as of v3.0.1*/
$screen-tablet:              $screen-sm-min !default;

/* Medium screen / desktop
/*  Deprecated `$screen-md` as of v3.0.1*/
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
/*  Deprecated `$screen-desktop` as of v3.0.1*/
$screen-desktop:             $screen-md-min !default;

/*  Large screen / wide desktop
/*  Deprecated `$screen-lg` as of v3.0.1*/
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
/*  Deprecated `$screen-lg-desktop` as of v3.0.1*/
$screen-lg-desktop:          $screen-lg-min !default;

/*  So media queries don't overlap when required, provide a maximum */
$screen-xs-max:              ($screen-sm-min) !default;
$screen-xs-max-offset:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min) !default;
$screen-sm-max-offset:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min) !default;
$screen-md-max-offset:              ($screen-lg-min - 1) !default;

