[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow:before {
  content: "\e906";
  color: red;
}
.icon-bubbles:before {
  content: "\e907";
}
.icon-checkbox-with-tick:before {
  content: "\e908";
}
.icon-checkbox:before {
  content: "\e909";
}
.icon-close-button:before {
  content: "\e90a";
}
.icon-close-without-circle:before {
  content: "\e90b";
}
.icon-G+:before {
  content: "\e90c";
}
.icon-mappin:before {
  content: "\e90d";
}
.icon-User-icon:before {
  content: "\e90e";
}
.icon-Mobile_BackArrow:before {
  content: "\e90f";
}
.icon-Mobile_DownArrow:before {
  content: "\e910";
}
.icon-Mobile_EditIcon:before {
  content: "\e911";
}
.icon-Mobile_PlusIcon:before {
  content: "\e912";
}
.icon-Mobile_QuoteIcon:before {
  content: "\e913";
}
.icon-Mobile_Tick:before {
  content: "\e914";
}
.icon-Mobile_UpArrow:before {
  content: "\e915";
}
.icon-profile:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e900";
}
.icon-flag:before {
  content: "\e901";
}
.icon-like-icon:before {
  content: "\e902";
}
.icon-menu-icon:before {
  content: "\e903";
}
.icon-search-icon:before {
  content: "\e904";
}
