<div class="container-fluid">
  <div class="breadcrumb-wraper">
    <ol class="breadcrumb col-lg-11">
      <li><a>Home</a></li>
      <li><a>my profile</a></li>
      <li class="active"></li>
    </ol>
    <div class="edit-profile-link col-lg-1">
    <a (click)="ShowEditProfile()">Edit Profile</a>
  </div>
  </div>
<div class="container-fluid" *ngIf="userProfileData && closeViewProfile">
<div class="container new-myprofile-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profile-details">
      <div class="profile-image">
        <img class="img-circle" data-src="{{UserImage}}"/>
      </div>

      <div class="person-name pad-topbot-20">{{userProfileData.UserName}}</div>
      <div class="pad-bot-35 designation">{{userProfileData.Designation}}, {{userProfileData.Location}}</div>
      <div class="pad-bot-20"><i class="fa fa-phone"></i>{{userProfileData.Mobile}}</div>
      <div><i class="fa fa-envelope"></i>{{userProfileData.UserEmail}}</div>

      
    </div>
    

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="col-lg-11 profile-text">
          <h3>My Interests</h3>
          <div class="profile-interest">
            <ul class="blue-tag">
              <li *ngFor="let res of tagData;let i=index;"><a>{{res}}</a></li>
         <!--<li  *ngFor="let tag of userProfileData.Tags.SubCategory"><a>{{tag}}</a></li>-->
            </ul>
          </div>
          <p>Viwe listing from : <span>{{preferedLocation}}</span></p>
          </div>
          <div class="col-lg-1"></div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <h3>My subscription</h3>
      <div class="my-sub-icon pull-right">
        <span class="">
          <img src="../../../../assets/img/unsubcribe-tag.png" />
        </span>
        </div>


      <div class="my-sub-main"  *ngFor="let res of subscribeCat; let i=index;">
        <p class="my-sub">
         <span class="category">category</span>
         <span class="sub-category pad-right-20">{{res.Category}}</span>
         <span class="category">subcategory</span>
         <span class="sub-category">{{res.SubCategory}}</span>
          <span class="pull-right">
          <button class="green-circle-button" (click)="deleteSub(res)">
            <i class="fa fa-close"></i>
          </button>
          </span>
         </p>
        </div>
      </div>

    </div>
  </div>
  </div>

<div class="container-fluid" *ngIf = "userProfileData && openEditProfile && !closeViewProfile" >

<div class="container edit-profile-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 profile-details">
      <div class="profile-image">
      <div class="edit-icon">
        <div class="green-circle-button">
            <div class="edit-icon-img">
              <input id="myFileField" type="file" name="myFile" (change)="UpdateImage($event)"/>
                <label for="myFileField" class="imageUpload">
                  </label>
            </div>
        </div>
      </div>
        <img class="img-circle" src="{{UserImage}}" />
      </div>
      <div class="person-name pad-topbot-20">{{userProfileData.UserName}}</div>
      <div class="text-deco-underline">
        <input [(ngModel)] = "userProfileData.Designation" class="pad-bot-20">
        <input [(ngModel)] = " userProfileData.Location" class="pad-bot-35">
      </div>
      <div class="pad-bot-20 text-deco-underline"><i class="fa fa-phone"></i>
        <input [(ngModel)]="userProfileData.Mobile"></div>
      <div><i class="fa fa-envelope"></i>{{userProfileData.UserEmail}}</div>
     
    </div>
   
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="col-lg-11 profile-text">
        <h3>My Interests</h3>
          <div class="profile-interest">
            <ul class="blue-tag grey-tag">
              <li *ngFor="let res of tagData;let i=index;"><a>{{res}}<i class="fa fa-close" (click)="deleteTag(i)"></i></a></li>
            </ul>

            <div class="input-add-tag">
              <input class="full-width" type="text" id="addTag" #interest (keyup)="fetchInterest($event,interest.value);" placeholder="Add tag">
            </div>
            <div class="autoSuggestion" *ngIf="enabledDropdown">
              <ul>
                <li class="grey-tag" (click)="selectInterest(res)" *ngFor="let res of interestResult">
                  {{ res }}
                </li>
              </ul>
            </div>

          </div>
          </div>
          <div class="col-lg-1"></div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <h3>My Subscribtion</h3>
      <div class="my-sub-icon pull-right">
       <span class="">
        <img src="../../../../assets/img/unsubcribe-tag.png" />
       </span>
      </div>

      <div class="my-sub-main"  *ngFor="let res of subscribeCat; let i=index;">
      <p class="my-sub">
        <span class="category">category</span>
        <span class="sub-category pad-right-20">
           {{res.Category}}</span>
        <span class="category">subcategory</span>
        <span class="sub-category">{{res.SubCategory}}</span>
        <span class="pull-right">
          <button class="green-circle-button"  (click)="deleteSub(res)">
            <i class="fa fa-close"></i>
          </button>
        </span>
      </p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8 edit-profile-text">
        <p>Preffered loaction:
          <span *ngFor="let location of availableLocation">
            <input type="checkbox" [checked]="isChecked(location)" [disabled]="isAllLocationChecked" (change)="onLocationChange($event)" name="{{location}}" value="{{location}}">
            <label class="radio-inline">{{location}}</label>
          </span>

           <span>
             <input [checked]="isChecked('All loactions')" type="checkbox" (change)="onLocationChange($event)" name="All loactions" value="All loactions">
             <label class="radio-inline">All loactions</label>
           </span>

           <span class="pull-right">
             <button class="green-button" (click)="UpdateProfileData($event);">Save & close</button>
           </span>
      </p>
    </div>
  </div>
</div>
</div>
</div>
<my-listings [userEmail]="userEmail"></my-listings>
<popup-message *ngIf="showPopupMessage" [showPopupDivMessage]="showPopupDivMessage" ></popup-message>
