@import "../../_common/styles/sass/style";
.cardList{
	padding-left: 55px !important;
	padding-right: 55px !important;
	background-color: $primary-background-color;
	h2.category{
		display: none;
	}

	.card-wrapper{
		margin:0;
		.plain-card-container, .wishlist-container, .create-container, .recommend-container{
			cursor:pointer;
			background: $white-color;
			border-radius: 6px;
			overflow: hidden;
			margin-bottom: 15px;
			/*padding-right: 30px;*/
			letter-spacing: 1px;
			.img-block{
				width:100%;
				height:180px;
				img{
					width: 100%;
					height:100%;
				}
			}
			.plain-card-container:nth-child(4n), .wishlist-container:nth-child(4n), .create-container:nth-child(4n), .recommend-container:nth-child(4n){
				padding-right: 0;
			}
			.contentdetail{
				padding: 25px;
				min-height: 180px;
				h3{
					padding: 0 0 15px 0;
					margin: 0 0 10px 0;
					color: $heading-color;
					display: block; /* Fallback for non-webkit */
					display: -webkit-box;
				/*	height: font-size-22*$line-height*$lines-to-show2; /* Fallback for non-webkit */
					/*margin: 0 auto;
					font-size: $font-size-22;*/
					height: 3em;
					line-height: $line-height;
					-webkit-line-clamp: $lines-to-show2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					@extend %type-open-sans-22-6-text;
				}
				p{
					color: $primary-text-color;
					display: block; /* Fallback for non-webkit */
					display: -webkit-box;
					/*height: $font-size-12*$line-height*$lines-to-show3 + 1;  Fallback for non-webkit */
					/*margin: 15px auto 0;*/
					height: 4em;
					@extend %type-open-sans-12-4-text;
					line-height: $line-height;
					-webkit-line-clamp: $lines-to-show3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				ul{
					color: $primary-text-color;
					list-style-type: none;
					display: inline-block;
					width: 100%;
					margin:20px 0 0 0;
					padding: 0;
					li{
						@extend %type-open-sans-12-7-text;
						text-transform: uppercase;
            display: inline-block;
						span{
							margin-right: 5px;
							&:first-child{
								float: left;
							}
						}
            &:last-child{
              float: right;
            }
						.isFaveSelected {
								color: $red-color !important;
            }
					}
				}
			}
		}
		.plain-card-container.wishlist-container{
			background: $darkblue-color;
			.contentdetail{
				h3{
					color: $white-color;
				}
				ul{
					li{
						.icon-like-icon{
							color: $red-color;
						}
					}
				}
			}
		}
		.plain-card-container.recommend-container{
			background: $darkblue-color;
			position: relative;
			.recommendLabel{
				position: absolute;
				top:5%;
				right: 5%;
				background: $darkblue-color;
				border-radius: 15px;
				color: $white-color;
			    padding:5px 15px;
			    font-size: $font-size-10;
		        text-transform: uppercase;
				span.icon-flag{
					color: $green-color;
					padding-right:5px;
					font-size: $font-size-12;
				}
				span.recommend{
					/* display: block; */
				}
			}
			.contentdetail{
				h3{
					color: $white-color;
				}
			}
		}
		.plain-card-container.create-container{
			 background: url("../../../assets/img/icon.png") no-repeat $primary-background-color 45% 35%;
			text-align: center;
			min-height: 410px;
			h2{
				font-size:$font-size-36;
				line-height: 46px;
			    padding: 0 5%;
			    color: $darkblue-color;
			}
			button{
				color: $darkblue-color;
				background: $green-color;
				border:none;
				text-transform: uppercase;
				@extend %type-open-sans-15-7-text;
				line-height:15px;
			    letter-spacing: 3px;
				border-radius: 15px;
				padding: 10px 15px;
				margin:14px 0;
				span{
					color: $darkblue-color;
					font-size: $font-size-18;
					padding-right: 5px;
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 460px){
	.cardList{
		padding: 0 !important;
		background-color: $white-color;
		h2.category{
			margin:15px 0;
			padding: 0 0 0 15px;
			text-transform: uppercase;
			font-size: $font-size-12;
			font-weight: 700;
			color: $heading-color;
			display: block;
		}
		.card-wrapper{
			.plain-card-container, .wishlist-container, .create-container, .recommend-container{
				background-color: $primary-background-color;
				margin: 0 0 15px;
				.img-block{
					width:	100%;
					height: 116px;
					img{
						width: 100%;
						height: 100%;					}
				}
				.contentdetail{
					padding: 15px;
					min-height: auto;
					p{
						display: none;
					}
					h3{
						height: $font-size-22*$line-height*$lines-to-show1;
						-webkit-line-clamp: $lines-to-show1;
						line-height: 2;
						font-size: $font-size-base;
						padding-bottom:5px;
					}
					ul{
						margin: 0;
						li{
							width: 100%;
							&:first-child{
								display: none;
							}
							&:last-child{
								float: left;
								font-size: $font-size-9;
								span{
									float: right;
								    font-size: $font-size-15;
		    						margin-top: -15px;
								}
							}
						}
					}
				}
			}
			.plain-card-container.create-container{
				display: none;
			}
			.plain-card-container.recommend-container{
				.recommendLabel{
					span.icon-flag{
						padding-right:0;
					}
					span.recommend{
						display: none;
					}
				}
			}
		}
	}
}
