<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserProfilesDBName" value="UserProfiles" />
    <add key="UserTokensCollection" value="UserToken" />
    <add key="Logging" value="Logging" />
  </appSettings>
  <connectionStrings>
    <add name="LoggingDBConnectionString" connectionString="mongodb://IN-IT0289" />
    <add name="UserProfilesConnectionString" connectionString="mongodb://IN-IT0289" />
  </connectionStrings>
</configuration>