<div class="similarListingContainer">
  <div class="similarListings">
    <div class="row">
      <div class="col-sm-12">
        <h3>Similar Listing</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let card of userListingData;let i = index;">
        <div class="thumbnail">
          <template [ngIf]="i<4">
            <img src="../../../../assets/img/similarListing.png" alt="...">
            <div class="listingContent caption">
              <span class="title"><h5>{{card.Title}}</h5></span>
              <span class="price pull-right">{{card.Price}}</span>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
